<%= provide :stylesheets do %>
<%= stylesheet_link_tag "checkr" %>

<!-- <header role="banner"> <div class="container"> <div class="column"> <a class="logo ajax" href="https://checkr.com/">Checkr</a> <button type="button" class="hamburger caf"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
class="icon-bar"></span> <span class="icon-bar"></span> <span class="sr">Toggle navigation</span> </button> <nav class="primary-nav" role="navigation"> <ul id="menu-primary-navigation" class="primary-nav"> <li class="dropdown menu-product"> <a
class="dropdown-toggle " data-toggle="dropdown" data-target="#" href="https://checkr.com/product/">Product <b class="caret"></b> </a> <ul class="dropdown-menu"> <li class="menu-overview"> <a class="" href="https://checkr.com/product/">Overview</a>
</li> <li class="menu-screenings"> <a class="" href="https://checkr.com/product/screenings/">Screenings</a> </li> <li class="menu-compliance"> <a class="" href="https://checkr.com/product/compliance/">Compliance</a> </li> <li class="menu-security">
<a class="" href="https://checkr.com/product/security/">Security</a> </li> </ul> </li> <li class="dropdown menu-staffing"> <a class="dropdown-toggle " data-toggle="dropdown" data-target="#" href="https://checkr.com/industries/staffing/">Staffing <b
class="caret"></b> </a> <ul class="dropdown-menu"> <li class="menu-overview"> <a class="" href="https://checkr.com/industries/staffing/">Overview</a> </li> </ul> </li> <li class="dropdown menu-industries"> <a class="dropdown-toggle "
data-toggle="dropdown" data-target="#" href="https://checkr.com/industries/">Industries <b class="caret"></b> </a> <ul class="dropdown-menu"> <li class="menu-overview"> <a class="" href="https://checkr.com/industries/">Overview</a> </li> <li
class="menu-staffing"> <a class="" href="https://checkr.com/industries/staffing/">Staffing</a> </li> <li class="menu-contact-centers"> <a class="" href="https://checkr.com/industries/contact-centers/">Contact Centers</a> </li> <li
class="menu-financial-services"> <a class="" href="https://checkr.com/industries/financial-services/">Financial Services</a> </li> <li class="menu-retail-hospitality"> <a class="" href="https://checkr.com/industries/retail-hospitality/">Retail &#038;
Hospitality</a> </li> <li class="menu-healthcare"> <a class="" href="https://checkr.com/industries/healthcare/">Healthcare</a> </li> <li class="menu-non-profit"> <a class="" href="https://checkr.com/industries/nonprofit/">Non-Profit</a> </li> <li
class="menu-on-demand-economy"> <a class="" href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a> </li> <li class="menu-manufacturing"> <a class="" href="https://checkr.com/industries/manufacturing/">Manufacturing</a> </li>
<li class="menu-software-technology"> <a class="" href="https://checkr.com/industries/software-and-technology/">Software &#038; Technology</a> </li> <li class="menu-small-business"> <a class=""
href="https://checkr.com/industries/small-business/">Small Business</a> </li> <li class="menu-p2p-marketplaces"> <a class="" href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a> </li> </ul> </li> <li class="dropdown
menu-resources"> <a class="dropdown-toggle " data-toggle="dropdown" data-target="#" href="https://checkr.com/resources/">Resources <b class="caret"></b> </a> <ul class="dropdown-menu"> <li class="menu-overview"> <a class=""
href="https://checkr.com/resources/">Overview</a> </li> <li class="menu-guides-white-papers"> <a class="" href="https://checkr.com/resources/white-papers/">Guides &#038; White Papers</a> </li> <li class="menu-faq"> <a class=""
href="https://checkr.com/resources/faq/">FAQ</a> </li> </ul> </li> <li class="menu-compliance"> <a class="" href="https://checkr.com/compliance-library/">Compliance</a> </li> </ul> </nav> <nav class="top-nav" role="navigation"> <ul id="menu-top-menu"
class="top-menu"> <li class="menu-i-am-an-applicant"> <a class="" href="https://applicant.checkr.com/">I Am an Applicant</a> </li> <li class="menu-api-docs"> <a class="" href="https://docs.checkr.com/">API &#038; Docs</a> </li> <li
class="menu-about-us"> <a class="" href="https://checkr.com/about/">About Us</a> </li> <li class="menu-careers"> <a class="" href="https://checkr.com/careers/">Careers</a> </li> </ul> </nav> <nav class="right-nav" role="navigation"> <ul
id="right-menu" class=""> <li class="menu-log-in"> <a target="_blank" href="https://dashboard.checkr.com/login?next=%2Freports">Log In</a> </li> <li class="menu-get-started"> <a href="/get-started">Get Started</a> </li> </ul> </nav> </div> </div>
</header> -->
  <h1>Home#checkr</h1>
  <p>Find me in app/views/home/checkr.html.erb</p>

  <footer>
    <div class="footer" role="contentinfo">

      <div class="container">

        <div class="column footer-product">
          <h4>Product</h4>
          <ul id="menu-footer-product" class="menu">
            <li class="menu-overview">
              <a href="https://checkr.com/product/">Overview</a>
            </li>
            <li class="menu-screenings">
              <a href="https://checkr.com/product/screenings/">Screenings</a>
            </li>
            <li class="menu-compliance">
              <a href="https://checkr.com/product/compliance/">Compliance</a>
            </li>
            <li class="menu-security">
              <a href="https://checkr.com/product/security/">Security</a>
            </li>
            <li class="menu-api-docs">
              <a href="https://docs.checkr.com/">API &#038; Docs</a>
            </li>
          </ul>
        </div>

        <div class="column footer-industries">
          <h4>Industries</h4>
          <ul id="menu-footer-industries" class="menu">
            <li class="menu-overview">
              <a href="https://checkr.com/industries/">Overview</a>
            </li>
            <li class="menu-contact-centers">
              <a href="https://checkr.com/industries/contact-centers/">Contact Centers</a>
            </li>
            <li class="menu-financial-services">
              <a href="https://checkr.com/industries/financial-services/">Financial Services</a>
            </li>
            <li class="menu-retail-hospitality">
              <a href="https://checkr.com/industries/retail-hospitality/">Retail &#038; Hospitality</a>
            </li>
            <li class="menu-healthcare">
              <a href="https://checkr.com/industries/healthcare/">Healthcare</a>
            </li>
            <li class="menu-non-profit">
              <a href="https://checkr.com/industries/nonprofit/">Non-Profit</a>
            </li>
            <li class="menu-on-demand-economy">
              <a href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a>
            </li>
            <li class="menu-manufacturing">
              <a href="https://checkr.com/industries/manufacturing/">Manufacturing</a>
            </li>
            <li class="menu-software-technology">
              <a href="https://checkr.com/industries/software-and-technology/">Software &#038; Technology</a>
            </li>
            <li class="menu-small-business">
              <a href="https://checkr.com/industries/small-business/">Small Business</a>
            </li>
            <li class="menu-p2p-marketplaces">
              <a href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a>
            </li>
            <li class="menu-higher-education">
              <a href="https://checkr.com/industries/higher-education/">Higher Education</a>
            </li>
            <li class="menu-staffing">
              <a href="https://checkr.com/industries/staffing/">Staffing</a>
            </li>
          </ul>
        </div>

        <div class="column footer-resources">
          <h4>Resources</h4>
          <ul id="menu-footer-resources" class="menu">
            <li class="menu-overview">
              <a href="https://checkr.com/resources/">Overview</a>
            </li>
            <li class="menu-white-papers">
              <a href="https://checkr.com/resources/white-papers/">White Papers</a>
            </li>
            <li class="menu-faq">
              <a href="https://checkr.com/resources/faq/">FAQ</a>
            </li>
            <li class="menu-blog">
              <a href="http://blog.checkr.com/">Blog</a>
            </li>
            <li class="menu-engineering-blog">
              <a href="https://medium.com/checkr">Engineering Blog</a>
            </li>
            <li class="menu-applicant-portal">
              <a href="https://applicant.checkr.com/">Applicant Portal</a>
            </li>
          </ul>
        </div>

        <div class="column footer-company">
          <h4>Company</h4>
          <ul id="menu-footer-company" class="menu">
            <li class="menu-partners">
              <a href="https://checkr.com/partners/">Partners</a>
            </li>
            <li class="menu-partner-lead-portal">
              <a href="http://info.checkr.com/checkr-partner-portal">Partner Lead Portal</a>
            </li>
            <li class="menu-about-us">
              <a href="https://checkr.com/about/">About Us</a>
            </li>
            <li class="menu-bounce-back-to-work">
              <a href="https://checkr.com/bounce-back-to-work/">Bounce Back to Work</a>
            </li>
            <li class="menu-careers">
              <a href="https://checkr.com/careers/">Careers</a>
            </li>
            <li class="menu-press">
              <a href="https://checkr.com/press/">Press</a>
            </li>
          </ul>
        </div>

        <div class="column footer-connect">
          <h4>Connect</h4>
          <ul>
            <li>
              <a href="mailto:hello@checkr.com">hello@checkr.com</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
            <li>
              <a href="/get-started">Get Started</a>
            </li>
            <li>
              <a href="https://dashboard.checkr.com/login?next=%2Freports" target="_blank">Log In</a>
            </li>
          </ul>
          <div class="entry-social-connect">
            <a target="_blank" href="Https://twitter.com/checkr" title="Checkr on Twitter" class="twitter">
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/icon_twitter.svg"/>
            </a>
            <a target="_blank" href="Https://www.facebook.com/checkrio/" title="Checkr on Facebook" class="facebook">
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/facebook.svg"/>
            </a>
            <a target="_blank" href="Https://www.linkedin.com/company/checkr-com" title="Checkr on Linkedin" class="linkedin">
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/linkedin.svg"/>
            </a>
            <a target="_blank" href="Https://www.instagram.com/checkr_" title="Checkr on Instagram" class="instagram">
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/instagram.svg"/>
            </a>
            <a target="_blank" href="Https://angel.co/checkr" title="Checkr on Angellist" class="angellist">
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/angellist.svg"/>
            </a>
          </div>
        </div>

        <div class="footer-info">
          <ul>
            <li>
              <a href="/customer-agreement">Customer Agreement</a>
            </li>
            <li>
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms-of-service">Terms of Service</a>
            </li>
            <li>
              <a>&copy; 2018 Checkr, Inc.</a>
            </li>
          </ul>
        </div>

        <div class="napbs-seal">
          <a href="https://portal.napbs.com/i4a/member_directory/feResultsListing.cfm?directory_id=12" target="_blank"><%= image_tag "napbs-accredited.svg" %></a>
        </div>
      </div>
    </div>
  </footer>
<% end %>
