<%= provide :stylesheets do %>
  <%= stylesheet_link_tag "flynn" %>
  <header>

  </header>

  <h1>Home#flynn</h1>
  <p>Find me in app/views/home/flynn.html.erb</p>

  <footer>

  </footer>
<% end %>
