<%= provide :stylesheets do %>
  <%= stylesheet_link_tag "sparks" %>
  <header>

  </header>

  <h1>Home#sparks</h1>
  <p>Find me in app/views/home/sparks.html.erb</p>

  <footer>

  </footer>
<% end %>
